body {
	color:#660066;
   
	background-color: #EFDECD;
	font-family:courier new;
	font-size:10pt;
	margin-left:0px;
	margin-right:0; 
	margin-top:10px;
	padding-left:100px;
	padding-right:100px
   }
   
.post.reply { 
		background-color: #C9FFE5;
  }
   
   
