body {
	color:#660066;
	/*background-image:  url("https://mdn.mozillademos.org/files/11991/startransparent.gif");
	background-repeat: repeat; */
	background: transparent url("https://pa1.narvii.com/6416/776584962aea735caaaafe3c85633471ce6f1af7_00.gif") no-repeat scroll 90% 98.5%;
   
	background-color: #EFDECD;
	font-family:courier new;
	font-size:10pt;
	margin-left:0px;
	margin-right:0; 
	margin-top:10px;
	padding-left:100px;
	padding-right:100px
   }
   
.post.reply { 
		background-color: #C9FFE5;
  }
   
   